{% extends "base.html" %}
{% block title %} Attendance {% endblock %}
{% block content %}
    <div class="navigation-menu">
        <div class="navigation-menu__title">
            <h4>
                Hi, {{ user.user_name }}.
            </h4>
        </div>
        <div class="navigation-menu__item">
            <a class="link" href="{{ url_for('main.studio', user_name= user.user_name) }}">
                Studio
            </a>
        </div>
        <div class="navigation-menu__item">
            <a class="link" href="{{ url_for('main.attendance', user_name= user.user_name) }}">
                Attendance
            </a>
        </div>
        <div class="navigation-menu__item">
            <a class="link" href="{{ url_for('main.user_profile', user_name= user.user_name) }}">
                User Profile
            </a>
        </div>
        <a class="link link--push-right" href="{{ url_for('main.logout') }}">
            Logout
        </a>
    </div>
    <div class="card-container">
        <div class="card card--fix-height-i card--fix-width-iii">
            <div class="card__content
            card__content--padding-i">
                <h1>
                    Attendance Sheet
                </h1>
            </div>
            <form method="POST" action="{{ url_for('main.attendance_sheet') }}">
                {{ attendance_sheet_form.hidden_tag() }}
                <div class="card__compartment
                card__compartment--border
                card__compartment--margin-bottom-i
                card__compartment--padding-i
                card__compartment--shadow
                card__compartment--width-ii">
                    <div class="card__content
                    card__content--padding-i
                    card__content--width-i">
                        {{ attendance_sheet_form.attendance_date(class_= "field") }}
                    </div>
                    <div class="card__content
                    card__content--padding-i
                    card__content--width-i">
                        {{ attendance_sheet_form.recipient_email(class_= "field", placeholder="Recipient's Email") }}
                    </div>
                </div>
                <div class="card__compartment 
                card__compartment--border
                card__compartment--column
                card__compartment--fix-height-i
                card__compartment--margin-bottom-i
                card__compartment--padding-i
                card__compartment--scroll
                card__compartment--shadow
                card__compartment--width-ii">
                    {% for student in marked_students %}
                        <div class="card__compartment
                        card__compartment--border-bottom 
                        card__compartment--padding-ii
                        card__compartment--width-iii">
                            <div class="card__content
                            card__content--padding-i">
                                <input type="checkbox" name="selected_students" value="{{ student.id }}">
                            </div>
                            <div class="card__content
                            card__content--padding-i">
                                [{{ student.name }}]
                            </div>
                            <div class="card__content
                            card__content--padding-i
                            card__content--padding-right-i 
                            card__content--push-right">
                                <select name="attendance_status_{{ student.id }}">
                                    <option value="P">
                                        P
                                    </option>
                                    <option value="A24">
                                        A24
                                    </option>
                                    <option value="NS">
                                        NS
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="marked_students" value="{{ student.id }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="card__compartment
                card__compartment--margin-bottom-i
                card__compartment--padding-i 
                card__compartment--very-bottom
                card__compartment--width-ii">
                    <div class="card__content
                    card__content--padding-i">
                        {{ attendance_sheet_form.send(class_= "button")}}
                    </div>
                    <div class="card__content
                    card__content--padding-i">
                        {{ attendance_sheet_form.remove(class_= "button")}}
                    </div>
                </div>
            </form>
        </div>
        <div class="card card--fix-height-i card--fix-width-ii">
            <div class="card__content
            card__content--padding-i">
                <h1>
                    Attendance History
                </h1>
            </div>
            <form method="POST" action="{{ url_for('main.attendance', user_name= user.user_name) }}">
                {{ attendance_history_form.hidden_tag() }}
                <div class="card__compartment
                card__compartment--border
                card__compartment--margin-bottom-i
                card__compartment--column
                card__compartment--padding-i
                card__compartment--shadow
                card__compartment--width-ii">
                    <div class="card__content
                    card__content--padding-i">
                        {{ attendance_history_form.attendance_date(class_= "field") }}
                    </div>
                </div>
                <div class="card__compartment 
                card__compartment--border
                card__compartment--margin-bottom-i
                card__compartment--column
                card__compartment--fix-height-i
                card__compartment--padding-i
                card__compartment--scroll
                card__compartment--shadow
                card__compartment--width-ii">
                    {% if attendances %}
                        {% for attendance in attendances %}
                        <div class="card__compartment
                        card__compartment--border-bottom
                        card__compartment--column
                        card__compartment--padding-ii">
                            <div class="card__content
                            card__content--bold
                            card__content--padding-i">
                                Sent on {{ attendance.date_and_time_sent }}
                            </div>
                            <div class="card__content
                            card__content--bold
                            card__content--padding-i">
                                Sent to {{ attendance.recipient_email }}
                            </div>
                            <div class="card__content
                            card__content--padding-i">
                                {{ attendance.attendance_data | safe }}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="card__content
                        card__content--padding-i">
                            ...
                        </div>
                    {% endif %}
                </div>
                <div class="card__compartment
                card__compartment--margin-bottom-i
                card__compartment--padding-i  
                card__compartment--very-bottom
                card__compartment--width-ii">
                    <div class="card__content
                    card__content--padding-i">
                        {{ attendance_history_form.search(class_= "button") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
