{% extends "base.html" %}

{% block title %} 
    Login 
{% endblock %}

{% block content %}
    <div class="card card--center-stage card--fix-width-i">
        <div class="card__content
        card__content--padding-i">
            <h1>
                Login
            </h1>
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="card__compartment
            card__compartment--border 
            card__compartment--margin-bottom-i
            card__compartment--column 
            card__compartment--padding-i
            card__compartment--shadow
            card__compartment--width-ii">
                <div class="card__content
                card__content--padding-i">
                    {{ form.email(class_= "field", placeholder= "Email") }}
                </div>
                <div class="card__content
                card__content--padding-i">
                    {{ form.password(class_= "field", placeholder= "Password") }}
                </div>
            </div>
            <div class="card__compartment 
            card__compartment--padding-i
            card__compartment--scroll
            card__compartment--width-ii">
                <div class="card__content
                card__content--padding-i">
                    {{ form.submit(class_= "button") }}
                </div>
                <div class="card__content 
                card__content--padding-i
                card__content--push-right">
                    <a class="link" href="{{ url_for('main.signup') }}">
                        Signup
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}